
body {
	background:#353535 url(img/fondo.jpg) repeat-y center top;
}

nav{
    background-color: whitesmoke;
    width: 20%;
    margin: 3em auto 6em;
    text-align: center;
    padding: 0.05em;
    box-shadow: 0.3em 0.4em #888888;
}

nav h1{
    font-size: 2em;
    text-transform: uppercase;
}

.opciones{
    border: solid #ffffff 2px;

}

.opciones tr{
    width: 3em;
    height: 3em;
    border: #ffffff solid 1px;
}

.main{
    width: 50%;
    
    margin: 1em auto;
}

.panel > h3, .panel > h2 {
    margin: 0; 
 }
 .panel{
     background-color: whitesmoke;
     padding: 1.5em 2.5em;
     border-left: 0.5em solid teal;
     margin: 4em auto;
     width: 40%;
     box-shadow: 5px 5px 8px #928a926e;
     border-radius: 2em;
 }
 
 .panel:hover{
     border-left-color: rgb(199, 21, 21); 
     background-color: rgb(207, 203, 203);
 }
 
 .panel > h3{
     font-size: 1.5em;
     margin-bottom: 0.25em;
     text-transform: uppercase;
     font-weight: 400;
     font-family: 'Baloo Tammudu', cursive;
 }
 
 .panel > h2 {
     text-transform: capitalize;
     font-size: 1.2em;
     font-family: 'PT Sans', sans-serif;
 }
 